
<div style="width: 70%;margin:0 auto"  >
    <p class="titulo">Lista de Usuarios</p>
   <!-- <mat-spinner *ngIf="isLoading"></mat-spinner>-->

    <mat-accordion multi="true" *ngIf="users.length > 0 ">
        <mat-expansion-panel *ngFor="let user of users" style="background-color:forestgreen">
            <mat-expansion-panel-header>{{ user.sk }} </mat-expansion-panel-header>
                <mat-accordion>
                    <p> Ganancias mensuales: {{ user.ganancias_mes}}</p>
                    <p> Saldo total: {{user.saldo_total}} </p>
                </mat-accordion>

                    <mat-expansion-panel *ngFor="let transaction of transactions" style="background-color:gray">
                        <mat-expansion-panel-header> TRANSACCIONES </mat-expansion-panel-header>
                            <mat-accordion>
                                <p>
                                    {{transaction.pk}}
                                    {{transaction.sk}}
                                    {{transaction.amount}}
                                </p>
        
                            </mat-accordion>
                        
                    </mat-expansion-panel>
        </mat-expansion-panel>
    </mat-accordion>

    
    
</div>